
<nav class="navbar navbar-light bg-light">
  <%=image_tag("vlogo.png", :class => "vlogo")%>
  <span class="navbar-brand mb-0 h1"></span>
  <button class="btn btn-outline-success" type="button">Contact me</button>
</nav>
<h1>Abeubibobu</h1>
<img src="../app/assets.images/pencil.png">
<img src="/images/pencil.png>
# <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
