
<nav class="navbar navbar-light bg-light">
  <%=image_tag("vlogo.png", :class => "vlogo")%>
  <span class="navbar-brand mb-0 h1"> </span>
  <button class="btn btn-outline-success" type="button">Contact me</button>
</nav>
  <h1 class="title"> Designer, Front-end & Back-end Developer</h1>
  <h2 class="subtitle">My name is Victor Therache, I build awesome websites, and I <br>freakin <%= image_tag "pxheart.png", class: 'heart-png' %> it </h2>
  <div class="avatar-container">
  <%= image_tag "avatar.png", class: 'avatar-png' %>
  </div>
    <div class="dessin animated animated bounceInUp ">
    <%= image_tag "dessing.png", class: 'dessin-png' %>
</div>
<div class="banniere">
<h3 class ="btitle">Hi I'm Victor, nice to meet you</h3>
<h5 class="bsubtitle">I am passionate about <strong>programming</strong> and especially <strong>web development</strong> since 3 years.<br> I am always learning and working on fun projects on GitHub.
      I am currently working as a freelance developer using various technologies like Ruby, Javascript, SQL or HTML/CSS</h5>
</div>


