body {
    height: auto;
}
.title {
    display: flex;
    justify-content: center;
    font-size: 2.1rem;
    margin-top: 7rem;
    text-align: center;
    padding: 0px 1.7rem;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 900;
}
.subtitle {
    font-family: 'Baloo 2', cursive;
    padding: 0px 2.2rem;
    text-align: center;
    font-size: 1.2em;
    margin-top: 1rem;
    line-height: 1.8rem;
}
.heart-png {
    height: 1.2rem;
    margin: 0px 0.2rem;
}
.avatar-png {
    width: 10.2rem;
}
.avatar-container {
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
}
.dessin-png {
    width: 22.2rem;
    width: 22.2rem;
}
.dessin {
    display: flex;
    justify-content: center;
    margin-top: 5.8rem;
}
@media screen and (min-width: 350px) {
    .dessin {
        margin-top: 8rem;
    }
    .vlogo {
        height: 5rem;
    }
    .navbar {
        width: 45rem;
    }
    body {
        width: 45rem;
    }
}
@media screen and (min-width: 388px) {
    .dessin {
        margin-top: 8rem;
    }
    .vlogo {
        height: 5rem;
    }

    body {
        width: 45rem;
    }
}
@media screen and (min-width: 703px) {
    .dessin {
        margin-top: 8rem;
    }
    .dessin-png {
        width: 35.2rem;
    }
    body {
        width: 100vw;
    }
    .navbar {
        width: 100vw;
    }
}
@media screen and (min-width: 1300px) {
    .avatar-png {
        width: 12.2rem;
    }
    .avatar-container {
        margin-top: 4.5rem;
    }
    .dessin {
        margin-top: 5rem;
    }
    .dessin-png {
        width: 35.2rem;
    }
}

.banniere {
    background-color: #65c3ba;
    height: 30rem;
}
.btitle {
    color: white;
    font-family: 'Baloo Tamma 2', cursive;
    padding: 4.5rem 1.2rem 0.5rem;
    text-align: center;
}
.bsubtitle {
    padding: 0rem 1.2rem;
    text-align: center;
    word-break: break-word;
    color: white;
    font-weight: 300;
}
.grid {
    background-color: white;
    height: 35.5rem;
    margin: -7.5rem 1rem;
    /* margin: 1rem; */
    /* border-radius: 15px; */
    /* border-top: 1px solid; */
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-radius-top: 8rem;
    /* border-right: 1px solid; */
    display: grid;
    grid-template-areas: "backbox"
                         "frontbox"
                         "pencilbox"
                         "workcontainer";
}
.icone {    
    width: 3.5rem;
    margin-top: 3rem;
}
.pencilbox {
    grid-area: pencilbox;
    border: 1px solid #DCDCDC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-radius: 16px;

}
.ptitle{
    font-size: 1.5rem;
    margin-top: 1.5rem;
    font-family: 'Baloo Tamma 2', cursive;
}
.psubtitle {
    font-weight: 300;
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem;
    text-align: center;
}
.pworkon {
    color: #65c3ba;
    font-size: 1.4rem;
    padding: 0.2rem;
}
.ptool {
    padding-top: 2.5rem;
}
.skill {
    list-style-type: none;
    padding: 0rem;
    text-align: center;
    line-height: 2.5rem;
    margin-bottom: 3.5rem;

}
.frontbox {
    grid-area: frontbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: none !important;
    border: 1px solid #DCDCDC;  
}
.backbox{
    grid-area: backbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #DCDCDC;
    border-top: none;  
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
.workcontainer {
    height: 40rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-area: workcontainer;
}
.wtitle {
    font-family: 'Baloo 2', cursive;
    font-weight: 700;
    margin-top: 7rem;
}
.worksub {
    color: black;
    margin-top: 0.5rem;
    line-height: 1.8rem;
}
.boutton {
    margin: 1rem;
    width: 300px; 
    height: 200px; 
    border: 0; 
    cursor: pointer; 
    font-size: 2rem;     
    background-image: url("scrapapa.png");
    background-size: cover;
    border-radius: 13px;

}
.bcontainer {
    display: flex;
    margin: 1rem;
}

@media screen and (min-width: 1200px) {
    .grid {
        grid-template-areas: "frontbox pencilbox backbox"
                             "workcontainer workcontainer workcontainer";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 44rem;
        border: 1px solid #DCDCDC;
    }    
    .pencilbox {
        border-radius: 0px;
        border-bottom: none;
        border-top: none;
        
    }
    .backbox {
        border-radius: 0px;
        border: none;
    }
    .frontbox {
        border: none;
    }
                    }


